@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

/*------------------- Mobile Menu -------------------*/
#mobile_menu {
    position: fixed;
    z-index: 2;
    left: 0;
    top: -120%;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.show_menu {
    top: 0 !important;
    height: 100% !important;
}